$yellow-primary: #ffbd00;

main {
    h2 {
        margin-top: 2.9375rem;
        font-size: 3rem;
        text-align: center;
        font-weight: 600;
        font-family: "Pragmatica", sans-serif;
    }
    h3 {
        font-weight: 400;
        font-family: "Pragmatica", sans-serif;
    }
    .take-number {
        position: relative;
        bottom: 2.625rem;
        h2 {
            color: $yellow-primary;
            font-family: "Pragmatica", sans-serif;
        }
        .form {
            form {
                margin-top: 0rem;
                width: 38.3125rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .succes {
                    color: green;
                }
                .error {
                    color: red;
                }
            }
            .submit-button {
                background-color: $yellow-primary;
                color: white;
                font-weight: 800;
                transition: 0.3s;
            }
            .react-tel-input {
                width: unset;
                p {
                    position: absolute;
                    top: -1.875rem;
                    width: 100%;
                    text-align: center;
                }
                .form-control {
                    color: $yellow-primary;
                    border: 0.4375rem solid $yellow-primary;
                    background-color: unset;
                    letter-spacing: 0.05em;
                }
                .flag-dropdown {
                    display: none;
                    background-color: inherit;
                    border: none;
                    border-radius: 0rem;
                }
            }
            .number-input {
                color: $yellow-primary;
                border: 0.4375rem solid $yellow-primary;
                padding: 0.625rem 0.9375rem;
            }
            input {
                border-radius: 0.75rem;
                font-weight: 800;
                width: 26.25rem;
                height: 6.875rem;
                border: 0rem;
                outline: 0rem;
                font-size: 1.875rem;
                transition: 0.3s;
                &:focus {
                    border-color: $yellow-primary;
                    box-shadow: 0 0 0.5rem 0rem $yellow-primary;
                }
                &:hover {
                    transition: 0.3s;
                    box-shadow: 0 0 0.5rem 0rem $yellow-primary;
                }
            }
        }
        .form {
            margin-top: 2.375rem;
            width: 38.3125rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .submit-button {
                background-color: $yellow-primary;
                color: white;
                transition: 0.15s !important;
                font-weight: 800;
                &:active {
                    background-color: #ff9400 !important;
                    transition: 0.15s !important;
                    transform: scale(1.03);
                }
            }
            .react-tel-input {
                width: unset;
                .form-control {
                    color: $yellow-primary;
                    border: 0.1875rem solid $yellow-primary;
                }
                .flag-dropdown {
                    display: none;
                    background-color: inherit;
                    border: none;
                    border-radius: 0rem;
                }
                input {
                    padding-left: 1.75rem;
                }
            }
            .number-input {
                color: $yellow-primary;
                border: 0.4375rem solid $yellow-primary;
                padding: 0.625rem 0.9375rem;
            }
            input {
                border-radius: 0.625rem;
                font-weight: 800;
                width: 18.1875rem;
                height: 4.875rem;
                border: 0rem;
                outline: 0rem;
                font-size: 1.4375rem;
            }
        }
    }
    .hello {
        width: 100%;
        height: 38.5rem;
        background-image: url("../images/trash-bg.webp");
        background-position-y: 90%;
        background-size: 100%;
        .wrapper {
            top: 3.5rem;
            left: -0.5rem;
            display: flex;
            flex-direction: row;
            position: relative;
            .text-block {
                h1 {
                    position: absolute;
                    color: white;
                    font-size: 2.625rem;
                    top: -17.3125rem;
                    left: 0.875rem;
                    width: 42.4375rem;
                    font-family: "Pragmatica", sans-serif;
                    font-weight: 600;
                    span {
                        color: $yellow-primary;
                    }
                }
                .line {
                    position: absolute;
                    left: 0.75rem;
                    top: -5.4375rem;
                }
                ul {
                    width: 33.75rem;
                    position: absolute;
                    padding-top: 0.375rem;
                    top: -3.5625rem;
                    font-size: 1rem;
                    left: -1.625rem;
                    li {
                        padding: 0.3375rem 0rem;
                        color: white;
                        list-style: none;
                        padding-left: 1.9375rem;
                        background-repeat: no-repeat;
                        background-position: 0% 50%;
                        &:nth-of-type(1) {
                            background-image: url("../images/li1.png");
                        }
                        &:nth-of-type(2) {
                            background-image: url("../images/li2.png");
                        }
                        &:nth-of-type(3) {
                            background-image: url("../images/li3.png");
                        }
                        &:nth-of-type(4) {
                            background-image: url("../images/li4.png");
                        }
                    }
                }
            }
            .car-img {
                position: absolute;
                width: 32.875rem;
                height: 26.875rem;
                right: 5.4375rem;
                top: -14.4375rem;
            }
        }
    }
    .services {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 2.5rem;
        h2 {
            margin-top: 2.9375rem;
            font-size: 2.25rem;
            text-align: center;
            font-weight: 600;
        }
        & > h2 {
            font-size: 2.625rem;
        }
        .take-number {
            position: relative;
            bottom: 2.625rem;
        }
        .service-cards-wrapper {
            margin-top: 1.625rem;
            max-width: 73.25rem;
            width: 100%;
            .service-card {
                margin-bottom: 2.5rem;
                transition: 0.3s;

                &:hover .card-img {
                    transition: 0.3s;
                    box-shadow: 0.1875rem 0.25rem 0.5625rem 0.0625rem rgba(30, 28, 28, 0.8);
                }
                &:hover h3 {
                    color: $yellow-primary;
                    transition: 0.3s;
                }
                h3 {
                    text-align: center;
                    font-size: 1.5rem;
                    transition: 0.3s;
                }
                .card-img {
                    box-shadow: 0.1875rem 0.25rem 0.7719rem 0.0406rem rgba(30, 28, 28, 0.22);
                    transition: 0.3s;
                    border-radius: 0.625rem;
                    margin-top: 1.375rem;
                    height: 17.3125rem;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column-reverse;
                    align-items: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                a {
                    position: absolute;
                    transform: translate(-50%, 0%);
                    left: 50%;
                    bottom: 0rem;
                  }
                a {
                    font-family: "Pragmatica", sans-serif;
                    transition: 0.3s;
                    font-weight: 200;
                    &:hover {
                        box-shadow: 0 0 0.3125rem 0rem #ffffff;
                        transition: 0.3s;
                    }
                }
                .img1 {
                    background-image: url("../images/service1.webp");
                }
                .img2 {
                    background-image: url("../images/service2.webp");
                }
                .img3 {
                    background-image: url("../images/service3.webp");
                }
                .img4 {
                    background-image: url("../images/service4.webp");
                }
                .img5 {
                    background-image: url("../images/service5.webp");
                }
                .img6 {
                    background-image: url("../images/service6.webp");
                }
                a {
                    background-color: $yellow-primary;
                    color: white;
                    height: 2.8125rem;
                    width: 14.0625rem;
                    text-align: center;
                    display: flex;
                    margin-bottom: 1.25rem;
                    border-radius: 0.75rem;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .take-number {
            h2 {
                color: $yellow-primary;
            }
            .form {
                form {
                    margin-top: 0rem;
                    width: 38.3125rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .submit-button {
                    background-color: $yellow-primary;
                    color: white;
                    font-weight: 800;
                }
                .react-tel-input {
                    width: unset;
                    .form-control {
                        color: $yellow-primary;
                        border: 0.1875rem solid $yellow-primary;
                    }
                    .flag-dropdown {
                        display: none;
                        background-color: inherit;
                        border: none;
                        border-radius: 0rem;
                    }
                }
                .number-input {
                    color: $yellow-primary;
                    border: 0.4375rem solid $yellow-primary;
                    padding: 0.625rem 0.9375rem;
                }
                input {
                    border-radius: 0.625rem;
                    font-weight: 800;
                    width: 18.1875rem;
                    height: 4.875rem;
                    border: 0rem;
                    outline: 0rem;
                    font-size: 1.4375rem;
                }
            }
        }
    }
    .auto {
        background: url("../images/trash-bg.webp");
        width: 100%;
        justify-content: end;
        padding-bottom: 5rem;
        h2 {
            margin-top: 3.25rem;
            color: $yellow-primary;
            font-size: 2.625rem;
        }
        .auto-wrapper {
            margin-top: 2.1875rem;
            display: flex;
            max-width: 71.25rem;
            justify-content: space-between;
            .card {
                border-radius: 0.6875rem;
                margin-bottom: 2.5rem;
                padding: 1.125rem 1.3125rem 1.125rem;;
                width: 22.5rem;
                h3 {
                    text-align: center;
                    font-size: 1.5rem;
                    margin-bottom: 0rem;
                    font-weight: 400;
                }
                img {
                    margin: 1.3rem 0rem 0.9rem;
                    height: 12.0625rem;
                    width: 19.75rem;
                }
                ul {
                    margin-top: 0.75rem;
                    padding-left: 0rem;
                    margin-bottom: 0rem;
                    li {
                        list-style: none;
                        margin: 0.5rem 0rem 0.625rem 0rem;
                        line-height: 1.125rem;
                        font-size: 1.125rem;
                    }
                }
            }
            .additionals {
                padding: 1rem 0.875rem 1.8125rem 0.875rem;
                ul {
                    margin-top: 0.5rem;
                    li {
                        margin: 0.5625rem 0rem 0.5625rem 0.5rem;
                        line-height: 1.1875rem;
                    }
                }
            }
        }
        .auto-details {
            max-width: 70.4375rem;
            width: 100%;
            p {
                font-family: "Pragmatica", sans-serif;
                color: white;
                font-size: 1.5rem;
                font-weight: 400;
                position: relative;
                left: -0.5rem;
                padding-bottom: 0.3125rem;
                span {
                    color: $yellow-primary;
                    font-size: 1.6rem;
                    transition: 0.3s;
                    &:hover {
                        text-decoration: underline;
                        text-shadow: 0 0 0.12rem #ffbd00;
                        transition: 0.3s;
                    }
                    a {
                        color: $yellow-primary;
                    }
                }
            }
        }
        .take-number {
            bottom: 2.25rem;
            h2 {
                color: $yellow-primary;
                text-align: center;
                font-size: 2.25rem;
            }
            input {
                background-color: unset;
                &:hover,
                &:focus {
                    box-shadow: 0 0 0.5rem 0rem #ffffffa9;
                    transition: 0.3s;
                }
            }
        }
    }
    .our-works {
        justify-content: end;
        h2 {
            margin-top: 3.125rem;
            font-size: 2.625rem;
        }
        .gallery-wrapper {
            margin-top: 3.1875rem;
            display: flex;
            max-width: 72.75rem;
            justify-content: space-between;
            img {
                padding: 0rem;
                margin-bottom: 2.1875rem;
                width: 22.5rem;
                height: 15.4375rem;
                flex: unset;
                box-shadow: 0.25rem 0.25rem 0.625rem rgb(0 0 0 / 25%);
                border-radius: 0.625rem;
            }
        }
        .take-number {
            margin-top: 1.25rem;
            h2 {
                font-size: 2.25rem;
            }
        }
    }
    .contacts {
        h2 {
            margin-top: 4.1875rem;
            font-size: 2.625rem;
        }
        .contacts-wrapper {
            max-width: 71.25rem;
            width: 100%;
            margin-top: 2.5rem;
            margin-bottom: 5.8125rem;
            .map {
                box-shadow: 0.25rem 0.25rem 0.625rem rgb(0 0 0 / 25%);
                border-radius: 0.625rem;
                line-height: 0rem;
                div {
                    position: relative;
                    overflow: hidden;
                    line-height: 0rem;
                    a:first-child {
                        color: #eee;
                        font-size: 0.75rem;
                        position: absolute;
                        top: 0rem;
                    }
                    a:last-child {
                        color: #eee;
                        font-size: 0.75rem;
                        position: absolute;
                        top: 0.875rem;
                    }
                }
                iframe {
                    height: 26.0625rem;
                    width: 42.5rem;
                    border: 0rem;
                    position: relative;
                    border-radius: 0.625rem;
                }
            }
            .contacts-details {
                border-radius: 0.625rem;
                width: 22.875rem;
                box-shadow: 0.25rem 0.25rem 0.625rem rgb(0 0 0 / 25%);
                font-size: 1.125rem;
                padding: 1.125rem 1.0625rem;
                background-color: white;
                align-content: center;
                display: flex;
                .wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                }
                .underlined {
                    a:hover {
                        text-decoration: underline;
                    }
                    &:hover span {
                        text-decoration: none;
                    }
                }
                p:last-child {
                    padding-top: 0.4375rem;
                    ul {
                        padding-left: 0rem;
                        li {
                            padding-top: 0.6875rem;
                        }
                    }
                }
                p {
                    line-height: 1.25rem;
                    margin-bottom: 0rem;
                    span {
                        font-weight: 600;
                    }
                    ul {
                        padding-left: 0.3125rem;
                        padding-bottom: 0rem;
                        margin-bottom: 0rem;
                        padding-top: 0.1875rem;
                    }
                    li {
                        list-style: none;
                        padding: 0.0625rem 0rem;
                        line-height: 1.0625rem;
                        transition: 0.3s;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
}
